* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body {
      font-family: Arial, sans-serif;
      background-color: #f4f4f4;
      color: #333;
}

.header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   text-align: center;
   margin: auto;
   background-color: #fff;
}

.header .logo {
   font-size: 24px;
   font-weight: bold;
   color: #333;
   padding: 10px 20px;
}

.header .nav-links {
   display: flex;
   gap: 15px;
   padding: 10px 20px;
   text-align: center;
}

.header .nav-links a {
   text-decoration: none;
   color: #000;
   font-size: 16px;
}

.container {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 20px;
   gap: 20px;
}

.task-list {
   display: flex;
   flex-direction: column;
   gap: 20px;
}

.task-list-header {
  display: flex;
  justify-content: space-between;
}

.task-list-items {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   gap: 20px;
   width: 100vh;
}

.task-item {
   background-color: #fff;
   border: 1px solid #ddd;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 20px;
   gap: 20px;
}

.task-status {
   color: #000;
   font-size: 16px;
   background-origin: padding-box;
}

.task-info {
   display: none;
   flex-direction: column;
   gap: 20px;
   padding: 20px;
   background-color: #fff;
   border: 1px solid #ddd;
}


.task-form {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 20px;
   background-color: #fff;
   padding: 20px;
}

.task-form-container {
   display: none;
   justify-content: center;
   align-items: center;
   position: fixed;
   z-index: 1; 
   left: 0;
   top: 0;
   width: 100vw; 
   height: 100vh; 
   background-color: rgba(0,0,0,0.4); 
   backdrop-filter: blur(5px);
}

.task-details-container {
   display: none;
   justify-content: center;
   align-items: center;
   position: fixed;
   z-index: 1; 
   left: 0;
   top: 0;
   width: 100vw; 
   height: 100vh; 
   background-color: rgba(0,0,0,0.4); 
   backdrop-filter: blur(5px);
}

.task-details {
   display: flex;
   flex-direction: column;
   background-color: white;
   padding: 20px;
   gap: 20px;
}